/* body style start */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* body style end */
/* header style start  */
.header-bg {
    background: url("images/banner1.png") no-repeat center;
    height: 100%;
    color: #fff;
    margin: 0%;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2px;
}

/* nav start */
.logo-menu-flex {
    display: flex;
    margin-top: 20px;

}

/* image start */
.logo-section {
    width: 120px;
    margin-left: 20px;
}

.logo {
    width: 100%;
}

/* image end */
/* menu bar start */
.menu-section {
    display: flex;
    margin-left: 70px;
}

.nav {
    display: flex;
}

.nav li {
    list-style-type: none;
}

.nav-link {
    background: none;
    border: none;
    padding-right: 30px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

.nav-link:hover {
    color: orange;
    transition: 400ms;
}

.nav-link:focus {
    color: orange;
    transition: 400ms;
}

/* home page work btn start */
.nav-item-btn {
    list-style-type: none;
    margin-left: 50px;
}

.nav-link-btn {
    color: white;
    padding: 10px 20px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
    background-color: orange;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.nav-link-btn:hover {
    border: 1px solid orange;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
    background: none;
    transition: 400ms;
}

.nav-link-btn:focus {
    border: 1px solid orange;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
    background: none;
    transition: 400ms;
}

/* home page work btn end */
/* menu bar end */
/* nav start */
/* header style end  */
/* text area and image start */
.text-and-image-section {
    display: flex;
}

.text-area {
    margin-left: 60px;
    margin-top: 30px;
    color: black;
}

.text-area-name {
    width: 360px;
}

.text-are-color {
    color: orange;
    font-size: 45px;
    font-weight: 900;
}

.text-area-name-span1 {
    color: black;
}

.text-area-name-span2 {
    margin-left: 90px;
}

.text-area-name-span3 {
    color: black;
}

.text-area-about {
    margin-top: -20p
}

.text-area-about-span1 {
    color: black;
    font-size: 18px;
    font-weight: 800;
}

.text-area-about-span2 {
    color: orange;
    font-weight: 900;
}

.text-are-btn {
    border: 2px solid orange;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
    background: none;
    margin-top: 30px;
    cursor: pointer;
    transition: 1s;
}

.text-are-btn:hover {

    color: white;
    padding: 10px 20px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
    background-color: orange;
    transition: 400ms;
}

.text-are-btn:focus {
    color: white;
    padding: 10px 20px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
    background-color: orange;
    transition: 400ms;
}

.image-area {
    margin-left: 100px;

}

.image-area-width {
    width: 491px;
}

/* text area and image end */
/* about section start */
.about {
    padding-top: 60px;
    background-color: #d6d6d6;
    padding-bottom: 2%;
}

.about-header-text {
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: orange;
}

.about-header-text1 {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
}

.about-header-text1-span1 {
    border-bottom: 2px solid orange;
    width: 100px;
}

.about-section-image-and-text-area {
    display: flex;
}

.about-image-area {
    width: 360px;
    margin-left: 40px;
}

.about-text-area {
    margin-left: 120px;
}

.about-text-area-h1-1 {
    margin-bottom: 35px;
}

.about-text-area-h1-1-span1 {
    color: orange;
}

.about-text-area-p-1 {
    width: 450px;
    margin-bottom: 70px;
}

.about-btn {
    padding: 10px 25px;
    border: none;
    background-color: orange;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.about-btn:hover {
    padding: 10px 25px;
    border: 1px solid orange;
    background: none;
    font-weight: 600;
    color: black;
    transition: 400ms;
}

.about-btn:focus {
    padding: 10px 25px;
    border: 1px solid orange;
    background: none;
    font-weight: 600;
    color: black;
    transition: 400ms;
}

/* about section end */
.hr1 {
    border: 2px dashed orange;
    margin-left: 40px;
    margin-right: 40px;
}

/* service section start */
.service {
    margin-bottom: 140px;
    margin-top: 110px;
}

.service-header {
    margin-bottom: 35px;
}

.service-header-h1-1 {
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: orange;
}

.service-header-textDiv {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.service-header-textDiv-span1 {
    border-bottom: 2px solid orange;
    width: 150px;
}

.service-box-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 70px;
    margin-right: 70px;
    row-gap: 50px;
}

.service-image-area {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.service-text-area-h1-1 {
    display: flex;
    justify-content: center;
}

.service-setup {
    background-color: #ffffff;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
    transition: 1s;
}

.service-setup:hover {
    background-color: orange;
    font-size: 16px;
    padding: 22px 22px;
    border-radius: 10px;
    transition: 400ms;
}

.service-setup:focus {
    background-color: orange;
    font-size: 16px;
    padding: 22px 22px;
    border-radius: 10px;
    transition: 400ms;
}

/* service section end */
/* happy client start */
.happy-clients {
    background-color: #d6d6d6;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 110px;
}

.happy-clients-box-area {
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.happy-clients-setup {
    color: white;
    box-shadow: 6px 6px 20px orange;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background-color: black;
    transition: 1s;
}

.happy-clients-setup:hover {
    color: black;
    box-shadow: 10px 10px 20px black;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background-color: #d6d6d6;
    transition: 400ms;
}

.happy-clients-setup:focus {
    color: black;
    box-shadow: 10px 10px 20px black;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background-color: #d6d6d6;
    transition: 400ms;
}

.happy-clients-image-area {
    width: 70px;
}

.happy-clients-text-area {
    margin-left: 12px;
    margin-top: -10px;
}

.happy-clients-text-area-h1-1 {
    display: flex;
    justify-content: center;
}

/* happy client start */
/* projects start */
.projects {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 190px;
}

.projects-header {
    margin-bottom: 40px;
}

.projects-header-h1-1 {
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: orange;
}

.projects-header-textDiv {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.projects-header-textDiv-span1 {
    border-bottom: 2px solid orange;
    width: 200px;
}

.projects-image-area {
    width: 300px;
    height: 350px;
}

.projects-setup {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    width: 300px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 7px;
    border: 2px dashed white;
    transition: 1s;
}

.projects-setup:hover {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    width: 300px;
    box-shadow: 2px 2px 5px black;
    border-radius: 7px;
    border: 2px dashed orange;
    transition: 400ms;
}

.projects-setup:focus {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    width: 300px;
    box-shadow: 2px 2px 5px black;
    border-radius: 7px;
    border: 2px dashed orange;
    transition: 400ms;
}

.projects-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    row-gap: 50px;
}

.projects-btn {
    margin-top: 20px;
    padding: 10px 10px;
    border: 2px solid orange;
    border-radius: 25px;
    height: 10px;
    margin-left: 200px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

.projects-btn:hover {
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 25px;
    background-color: orange;
    height: 10px;
    margin-left: 200px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 400ms;
}

/* projects end */

/* textimonial start */
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.testimonials-text-area-h1-1 {
    display: flex;
    justify-content: center;
    font-size: 33px;
    text-decoration: underline;
    text-decoration-color: orange;
    margin-bottom: 50px;
    margin-top: 50px;
}

.testimonials {
    background-color: #d6d6d6;
    padding: 20px;
}

.slide {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1100px;
    width: 90%;
    position: relative;
    left: 60px;

}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #d8d8d8;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    transition: 1s;
}

.wrapper i:hover {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: orange;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:focus {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: orange;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #ebebeb;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    padding: 40px;
    transition: 1s;
}

.carousel .card:hover {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: white;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    padding: 40px;
    transition: 400ms;
}

.carousel .card:focus {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: white;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    padding: 40px;
    transition: 400ms;
}

.carousel .card .img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 160px;
}

.card .img img {
    width: 60px;
    height: 60px;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

.slider-span {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

/* textimonial end */
/* blog post start */
.blog {
    margin-top: 120px;
    margin-bottom: 60px;
}

.blog-header-text-area-h1-1 {
    display: flex;
    justify-content: center;
    font-size: 33px;
    color: orange;
}

.blogs-header-textDiv {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.blogs-header-textDiv-span1 {
    border-bottom: 2px solid orange;
    width: 220px;
    margin-bottom: 50px;
}

.blog-setup {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: 1s;
}

.blog-setup:hover {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: 400ms;
    color: white;
}

.blog-setup:focus {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: 400ms;
    color: white;
}

.blog-setup:hover .blog-body-text-area-h6-1 {
    color: white;
}

.blog-setup:focus .blog-body-text-area-h6-1 {
    color: white;
}

.blog-setup:hover .blog-body-btn {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: none;
    font-size: large;
    transition: 1s;
}

.blog-setup:focus .blog-body-btn {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: none;
    font-size: large;
    transition: 1s;
}

.blog-setup:hover .blog-body-btn:hover {
    padding: 10px 20px;
    background: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    border: 1px dashed black;
}

.blog-setup:focus .blog-body-btn:focus {
    padding: 10px 20px;
    background: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    border: 1px dashed black;
}

.blog-body-text-area-h6-1 {
    font-size: 14px;
    margin-bottom: -8px;
    color: orange;
}

.blog-body-text-area-h1-1 {
    font-size: 30px;

}

.blogs-text-body {
    margin-left: 50px;
}

.blog-body-btn {
    padding: 10px 20px;
    background-color: orange;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: large;
    cursor: pointer;
    transition: 1s;
}

.blog-body-btn:hover {
    padding: 10px 20px;
    background: none;
    border-radius: 10px;
    color: black;
    font-size: large;
    border: 1px dashed orange;
}

.blog-body-btn:focus {
    padding: 10px 20px;
    background: none;
    border-radius: 10px;
    color: black;
    font-size: large;
    border: 1px dashed orange;
}

/* toggle 1*/
.extra {
    display: none;
}

.extra p {
    font-family: "Poppins", sans-serif;
    line-height: 2em;
    display: inline;
}

input[type="checkbox"] {
    height: 2em;
    display: block;
    appearance: none;
}

label:before {
    content: "Read More";
}

input[type="checkbox"]:checked~label:before {
    content: "Read Less";
}

.dots:has(~ input[type="checkbox"]:checked) {
    display: none;
}

.extra:has(~ input[type="checkbox"]:checked) {
    display: inline;
}

/* toggle 1*/
/* toggle 2 */
.extra1 {
    display: none;
}

.extra1 p {
    font-family: "Poppins", sans-serif;
    line-height: 2em;
    display: inline;
}

.input1[type="checkbox"] {
    height: 2em;
    display: block;
    appearance: none;
}

.label1:before {
    content: "Read More";
}

.input1[type="checkbox"]:checked~.label1:before {
    content: "Read Less";
}

.dots:has(~ .input1[type="checkbox"]:checked) {
    display: none;
}

.extra1:has(~ .input1[type="checkbox"]:checked) {
    display: inline;
}

/* toggle 2 */
/* toggle 3 */
.extra2 {
    display: none;
}

.extra2 p {
    font-family: "Poppins", sans-serif;
    line-height: 2em;
    display: inline;
}

.input2[type="checkbox"] {
    height: 2em;
    display: block;
    appearance: none;
}

.label2:before {
    content: "Read More";
}

.input2[type="checkbox"]:checked~.label2:before {
    content: "Read Less";
}

.dots:has(~ .input2[type="checkbox"]:checked) {
    display: none;
}

.extra2:has(~ .input2[type="checkbox"]:checked) {
    display: inline;
}

/* toggle 3 */
/* toggle 4 */
.extra3 {
    display: none;
}

.extra3 p {
    font-family: "Poppins", sans-serif;
    line-height: 2em;
    display: inline;
}

.input3[type="checkbox"] {
    height: 2em;
    display: block;
    appearance: none;
}

.label3:before {
    content: "Read More";
}

.input3[type="checkbox"]:checked~.label2:before {
    content: "Read Less";
}

.dots:has(~ .input3[type="checkbox"]:checked) {
    display: none;
}

.extra3:has(~ .input3[type="checkbox"]:checked) {
    display: inline;
}

/* toggle 4 */
/* blog post end */
.hr2 {
    border: 2px dashed orange;
    margin-left: 40px;
    margin-right: 40px;
}

/* contact section styling */
.contact {
    background: orange;
    width: 64%;
    margin: 30px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-image: url(images/intro.png);
    background-size: cover;
    margin-top: -1px;
}

.contact-header-text-area-h1-1 {
    display: flex;
    justify-content: center;
    font-size: 33px;
    color: orange;
    margin-top: 70px;
}

.contact-header-textDiv {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.contact-header-textDiv-span1 {
    border-bottom: 2px solid orange;
    width: 280px;
    margin-bottom: 30px;
}

.center h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--bg-color);
    color: #fff;
}

.center p {
    font-size: var(--p-font);
    color: var(--bg-color);
    line-height: 26px;
    margin-bottom: 25px;
    color: #fff;
}

.contact .action form input[type="email"] {
    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
    background-color: #fff;
}

.contact .action form input[type="submit"] {
    padding: 12px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.contact-email-number {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.email-number-setup {
    background-color: orange;
    padding: 5px 30px;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    transition: 1s;
    border: 1px solid orange;
}

.email-number-setup:hover {
    background: none;
    padding: 5px 30px;
    color: black;
    border-radius: 50px;
    font-size: 16px;
}

.email-number-setup:focus {
    background: none;
    padding: 5px 30px;
    color: black;
    border-radius: 50px;
    font-size: 16px;
}

.contact-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 60px;
}

.icon1 {
    border: 2px dashed orange;
    padding: 10px 18px;
    border-radius: 30px;
    color: black;
    transition: 600ms;
}

.icon1:hover {
    border: 2px dashed orange;
    padding: 10px 18px;
    border-radius: 30px;
    background-color: orange;
    color: white;
}

.icon1:focus {
    border: 2px dashed orange;
    padding: 10px 18px;
    border-radius: 30px;
    background-color: orange;
    color: white;
}

.icon2 {
    border: 2px dashed orange;
    padding: 11px 16px;
    border-radius: 30px;
    color: black;
    transition: 600ms;
}

.icon2:hover {
    border: 2px dashed orange;
    padding: 11px 16px;
    border-radius: 30px;
    background-color: orange;
    color: white;
}

.icon2:focus {
    border: 2px dashed orange;
    padding: 11px 16px;
    border-radius: 30px;
    background-color: orange;
    color: white;
}

.icon3 {
    border: 2px dashed orange;
    padding: 10px 14px;
    border-radius: 30px;
    color: black;
    transition: 600ms;
}

.icon3:hover {
    border: 2px dashed orange;
    padding: 10px 14px;
    border-radius: 30px;
    background-color: orange;
    color: white;
}

.icon3:focus {
    border: 2px dashed orange;
    padding: 10px 14px;
    border-radius: 30px;
    background-color: orange;
    color: white;
}

/* contact section styling */
/* footer start */
.footer-text {
    margin-right: 170px;
}

.footer {
    background-color: #f0f0f0;
    padding-bottom: 20px;
    border-top: 1px solid orange;
}

.span-1 {
    font-size: 20px;
    color: orange;
}

.span-2 {
    font-size: 20px;
    color: orange;
}

.footer-logo {
    width: 150px;
    margin-top: 10px;

}

.footer-image-text {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.hr3 {
    border: 1px dashed orange;
}

/* footer end */